@using System.Web.Configuration
@model ASSP_APP.Models.User
@{
    ViewBag.Title = "Add Employee";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    Add New Employee
                </h3>
                <div style="display:none;" id="UserAlready"  class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="m-alert__icon">
                        <i class="flaticon-exclamation-1"></i>
                        <span></span>
                    </div>
                    <div class="m-alert__text">
                        <strong>
                            Warning!
                        </strong>
                        User Name Already Exists.
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet">

                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label>
                                        Full Name:
                                    </label>
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control m-input", @id = "FullName", @placeholder = "Enter full name" } })
                                    <span class="m-form__help">
                                        Please enter full name
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <label>
                                        User Name:
                                    </label>
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control m-input", @id = "UserName", @placeholder = "Enter user name" } })
                                    <span class="m-form__help">
                                        Please enter user name
                                    </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label>
                                        Password:
                                    </label>
                                    <div class="m-input-icon m-input-icon--right">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control m-input", @id = "Password", @placeholder = "Enter password" } })
                                    </div>
                                    <span class="m-form__help">
                                        Please enter password
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <label>
                                        Address:
                                    </label>
                                    <div class="m-input-icon m-input-icon--right">
                                        @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control m-input", @id = "Address", @placeholder = "Enter address" } })
                                    </div>
                                    <span class="m-form__help">
                                        Please enter address
                                    </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label>
                                        User Group:
                                    </label>
                                    <div class="m-radio-inline">
                                        @foreach (var val in ViewBag.RadioButtonValues)
                                        {
                                            <label class="m-radio m-radio--solid">
                                                <input type="radio"  name="RoleID" value="@val.RoleID">
                                                @val.RoleName
                                                <span></span>
                                            </label>
                                        }
                                    </div>
                                    <span class="m-form__help">
                                        Please select user group
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions--solid">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button id="m_add_user_submit" class="btn btn-primary">
                                            Save
                                        </button>
                                        <button type="reset" class="btn btn-secondary">
                                            Cancel
                                        </button>
                                    </div>
                                    @*<div class="col-lg-6 m--align-right">
                                            <button type="reset" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->

            </div>
        </div>
    </div>
</div>
